@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
}

.link {
  color: white;
  margin-top: 30px;
}

.input {
  padding-top: 10px;
}